body {
    background-color: midnightblue;
    min-height: 100vh;
    margin: 0;
    align-content: center;
}

.galeria {
    border-radius: .5em .5em 0;
    background-color: darkslateblue;
    border: 1px solid black;
    padding: 1em;
    resize: both;
    overflow: auto;
    align-content: start;
    width: 90%;
    margin: auto;
}

.item {
    width: 10em;
    height: 10em;
    border-radius: .25em;
    background-color: white;
    margin: 1em;
    display: inline-block;
    align-content: center;
    text-align: center
}